<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VOLUME_CHANGED_ACTION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_baseline_adb_24"
        android:label="Rtsp_Player_C"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity
            android:exported="true"
            android:name="com.pcyfox.module_recoder.ui.activity.RMainActivity"
            android:screenOrientation="landscape"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pcyfox.module_recoder.ui.activity.RecordeMultiVideoTestActivity"
            android:screenOrientation="landscape"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <activity
            android:name="com.pcyfox.module_recoder.ui.activity.MediaRecorderActivity"
            android:screenOrientation="landscape"
            android:turnScreenOn="true"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
    </application>


</manifest>